.DS_Store

.vscode

# vritual env
.venv
.env

# python
__pycache__

#logs
logs/*

# models
*/models/*
!*/models/.gitkeep

#pickles
*/pickles/*
!*/pickles/.gitkeep

# images
PetImages/
testData/
result/